/* IE 6 specific css */

#top  {
    margin-left: 28px;
}
#logo {
    top: 5px;
}
#dropdown-holder ul {
    padding-left:10px;
}
.sf-menu {
    margin: 0 15px;
}
.nav-extra {
    margin-right: -8px;
    padding:10px 0px 7px;
}
.nav-login {
    margin-top: 1px;
}
.commentlist .commenttext .round-corner-t-l {
    background:transparent url(../style1/images/round-corners.png) no-repeat scroll 0 0;
    left:0;
    top:0;
}
.commentlist .commenttext .round-corner-t-r {
    background:transparent url(../style1/images/round-corners.png) no-repeat scroll 100% 0;
    right:0;
    top:0;
}
.commentlist .commenttext .round-corner-b-l {
    background:transparent url(../style1/images/round-corners.png) no-repeat scroll 0 -8px;
    left:0;
    bottom:0;
}
.commentlist .commenttext .round-corner-b-r {
    background:transparent url(../style1/images/round-corners.png) no-repeat scroll 100% -8px;
    right:0;
    bottom:0;
}
.commentlist .commenttext .round-corner-t-l,
.commentlist .commenttext .round-corner-t-r,
.commentlist .commenttext .round-corner-b-l,
.commentlist .commenttext .round-corner-b-r {
    height: 12px;
    width: 12px;
    position: absolute;
}
.entry {
    padding: 9px 0 2px;
}
#categoryLinks {
    margin: 7px 0 0 60px;
}
.thumbsWrapper {
    padding: 7px 0;
}
.portfolioItemWrapper {
    margin: 13px 20px;
}
.ad-holder {
    margin: 0 0 0 2px;
}
#piecemaker-header {
    margin-bottom: 6px;
}
#home-page-content  {
    margin-top:-5px;
}
#c1-shadow {
    margin:-312px auto 0;
}
#c1-resumeButton a {
    margin-right:15px;
}
#c1-pauseButton a {
    margin-right:3px;
}
#c1-nav {
    padding-right:  0px;
}
#content-container  {
    margin-bottom: -40px;
}
#footer-bg  {
    padding-bottom:47px;
}
#bottom-bg  {
    padding-bottom: 10px;
}
#bottom {
    padding-bottom: 10px;
}
#sidebarSubnav h3 {
    margin: -1px 0 2px;
    padding-top: 4px;
    padding-bottom: 6px;
}
#recentcomments li {
    padding-top: 7px;
    padding-bottom: 7px;
}
.c2-slide-img-frame-bg  {
    background-color:transparent;
}
#c2-header  {
    margin-bottom: 43px;
}
#c2-resumeButton a {
    margin-left: 3px;
}
#c2-pauseButton a {
    margin-left: 15px;
}
#c2-nav {
    padding-right: 17px;
}


