﻿@charset "UTF-8";
/* 
    ###################################
    ### CSS Document ##################
    ### Desenvolvido por Biscuit ######
    ###################################
*/

body, html { height: 100%; }

body {
    width: 100%;
    background: repeat url(../images/bg.jpg) white;
    color: #303030;
    cursor: default;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 100%;
    font-style: normal;
    line-height: 1;
    position: relative;
    transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    padding: 0;
    margin: 0;
}

/* ### PRESETS ### */
a {
	cursor: pointer;
	text-decoration: none;
}

input[type=text],
input[type=email],
textarea {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 10px;
}

strong { font-weight: 700; }

/* ### HERO ### */
#hero {
	width: 100%;
	height: 800px;
	background: center top no-repeat url(../../images/banner-hero.jpg);
	background-size: cover;
	display: block;
}

	#hero #mosaic {
		width: 100%;
		position: relative;
		text-align: center;
		top: 175px;
	}
	
@media only screen and (max-width: 768px) {
	#hero { display: none; }
}
	
/* ### TOP ### */
#top {
	width: 100%;
	height: 120px;
	background: left center repeat-x url(../images/bg-menu.jpg);
	display: block;
	position: relative;
	z-index: 8888;
}

	#top #menu {
		width: 100%;
	}
	
		#top #menu #logo {
			width: 278px;
			height: 193px;
			background: left top no-repeat url(../images/logo-choppicanha.png);
			display: block;
			float: left;
			text-indent: -9999px;
			margin: -35px auto 0;
		}
		
		#top #menu .left-menu,
		#top #menu .right-menu {
			display: block;
			float: left;
			margin-top: 60px;
		}
		
			#top #menu .left-menu li { 
				float: right;
				margin-right: 30px; 
			}
			
			#top #menu .right-menu li { 
				float: left;
				margin-left: 30px; 
			}
			
			#top #menu li a {
				color: white;
				font-family: 'Alegreya', serif;
				font-size: 1.25em;
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
			}
			
				#top #menu li a:hover {
					text-shadow: 0 0 10px white;
				}
				
	#top #responsive-menu {
		display: none;
	}
	
		#top #responsive-menu img {
			float: left;
			margin-top: 25px;
		}
		
		#top #responsive-menu .menu-button {
			width: 20px;
			height: 16px;
			background: left top no-repeat url(../images/responsive-icon.png);
			float: right;
			text-indent: -9999px;
			margin: 52px 30px 0 0;
		}
				
@media only screen and (max-width: 960px) {
	#top #menu .left-menu li { 
		margin-right: 15px; 
	}
	
	#top #menu .right-menu li { 
		margin-left: 15px; 
	}
}

@media only screen and (max-width: 768px) {
	#top #menu {
		display: none;
	}
	
	#top #responsive-menu {
		display: block;
	}
}

/* ### MOBILE MENU ### */
#mobile-menu {
	background: repeat url(../images/black-bg.jpg);
	position: relative;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	margin-top: -240px;
}

	#mobile-menu li {
		width: 100%;
		height: 40px;
		border-bottom: 1px solid #303030;
		color: white;
		direction: block;
	}
	
		#mobile-menu li:last-child { border-bottom: 0; }
	
		#mobile-menu li a {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			color: white;
			display: block;
			text-align: center;
			padding-top: 12px;
		}

/* ### PLACE ### */
#place { 
	text-align: center; 
	padding: 30px 0 70px;
}

	#place li a {
		width: 100%; 
		height: 210px;
		background: center center no-repeat;
		background-size: cover;
		border: 5px solid white;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		display: block;
		text-indent: -9999px;
		margin-bottom: 30px;
	}
	
	#place .button {
		width: 100%;
		height: 70px;
		font-size: 1.5em;
		padding-top: 22px;
		margin-top: 40px;
	}
	
		#place .button:active { top: 3px; }
		
@media only screen and (max-width: 768px) {
	#place li a {
		height: 150px;
		margin-bottom: 30px;
	}	
}
		
@media only screen and (max-width: 640px) {
	#place ul { margin-top: 20px; }

	#place .button {
		font-size: 1.2em;
		padding-top: 26px;
	}
}
		
/* ### HIGHLIGHT ### */
#highlight {
	padding-bottom: 80px;
}

	#highlight .image-container {
		width: 100%;
		background: center center no-repeat;
		background-size: cover;
		border: 10px solid #303030;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		position: relative;
	}
	
		#highlight .image-container img {
			width: 100%;
			height: auto;
		}
	
		#highlight .image-container .seal {
			width: 133px;
			height: 154px;
			background: left top no-repeat url(../images/selo-destaque.png);
			display: block;
			position: absolute;
			text-indent: -9999px;
			top: -50px;
			left: 50px;
		}
		
	#highlight .highlight-title {
		width: 100%;
		display: block;
		text-align: center;
	}
	
		#highlight .highlight-title h2 {
			width: 405px;
			color: #303030;
			font-family: 'Leckerli One', cursive;
			position: relative;
			padding: 0 20px;
			margin: 60px auto 40px;
		}
	
			#highlight .highlight-title h2 .left-detail,
			#highlight .highlight-title h2 .right-detail {
				width: 35px;
				height: 14px;
				background: left top no-repeat;
				display: block;
				position: absolute;
				top: 12px;
			}
			
			#highlight .highlight-title h2 .left-detail { 
				background-image: url(../images/left-detail.png); 
				left: -25px;
			}
			
			#highlight .highlight-title h2 .right-detail { 
				background-image: url(../images/right-detail.png); 
				right: -25px;
			}
			
	#highlight h4 {
		color: #303030;
		float: left;
		font-weight: 700;
	}
	
	#highlight .price {
		color: #771e18;
		float: right;
		font-family: 'Leckerli One', cursive;
		font-size: 1.75em;
	}
	
	#highlight p {
		margin: 30px 0 40px;
	}
	
	#highlight .button {
		width: 180px;
		height: 50px;
		padding-top: 18px;
		margin: 0 auto;
	}
	
		#highlight .button:active { top: 3px; }
		
@media only screen and (max-width: 960px) {
	#highlight .highlight-title h2 {
		width: auto;
		font-size: 2em;
		padding: 0;
	}
	
	#highlight .highlight-title h2 .left-detail,
	#highlight .highlight-title h2 .right-detail {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	#highlight {
		text-align: center;
	}

	#highlight h4 {
		float: none;
		margin-bottom: 20px;
	}
	
	#highlight .price {
		float: none;
	}
	
	#highlight .button { width: 100%; }
}

/* ### DELIVERY ### */
#delivery { padding-bottom: 80px; }
		
/* ### CHOPPICANHA ### */
#choppicanha {
	padding-bottom: 70px;
}

	#choppicanha .full-image {
		width: 100%;
		height: 500px;
		background-position: center top;
		background-repeat: no-repeat;
		display: block;
		margin-bottom: 20px;
	}
	
	#choppicanha .last-image { margin-top: 40px; }
	
	#choppicanha p {
		text-align: center;
		margin: 20px 0 20px;
	}
	
		#choppicanha p em {
			color: #771e18;
		} 
	
	#choppicanha .gallery-container {
		width: 340px;
		text-align: center;
		margin: 20px auto 40px;
	}
	
	#choppicanha h2 {
		color: #303030;
		font-family: 'Leckerli One', cursive;
		margin-bottom: 20px;
	}
	
	#choppicanha .gallery-item {
		width: 100px;
		height: 75px;
		border: 5px solid white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		float: left;
		overflow: hidden;
		margin: 0 10px 20px;
	}
	
		#choppicanha .gallery-item:first-child,
		#choppicanha .gallery-item:nth-child(3n + 1) { margin-left: 0; }
		#choppicanha .gallery-item:nth-child(3n) { margin-right: 0; }
	
		#choppicanha .gallery-item img {
			width: 100%;
			height: auto;
			min-height: 75px;
		}
		
@media only screen and (max-width: 640px) {
	#choppicanha .gallery-container {
		display: none;
	}
}
		
/* ### CARDÁPIO ### */
#cardapio {
	padding: 30px 0 60px; 
}

	#cardapio p {
		text-align: center;
		margin-bottom: 40px;
	}
	
	#cardapio .cardapio-container {
		width: 100%;
		min-height: 500px;
		background: center center no-repeat url(../images/icon-food.png) white;
		box-shadow: 0 0 1px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
		-o-box-shadow: 0 0 1px rgba(0,0,0,0.2);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}
	
		#cardapio .cardapio-container .select-title {
			width: 100%;
			height: 50px;
			background: 98% center no-repeat url(../images/white-arrow.png) #771e18;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			cursor: pointer;
			padding: 15px 0 0 2%;
		}
		
			#cardapio .cardapio-container .select-title span {
				color: white;
				font-family: 'Leckerli One', cursive;
				font-size: 1.5em;
			}
			
		#cardapio .cardapio-container #select,
		#cardapio .cardapio-container .subselect {
			width: 100%;
			background-color: #dbdbdb;
		}
		
			#cardapio .cardapio-container #select a,
			#cardapio .cardapio-container .subselect a {
				width: 100%;
				height: 50px;
				border-bottom: 1px solid #c7c7c7;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				color: #303030;
				display: block;
				font-family: 'Leckerli One', cursive;
				font-size: 1.5em;
				text-align: center;
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				padding-top: 15px;
			}
			
				#cardapio .cardapio-container #select a:last-child,
				#cardapio .cardapio-container .subselect a:last-child { border-bottom: 0; }
				
				#cardapio .cardapio-container #select a:hover,
				#cardapio .cardapio-container .subselect a:hover { background-color: #ccc; }
				
		#cardapio .cardapio-container .pratos-container {
			width: 100%;
			height: 100%;
		}
		
			#cardapio .cardapio-container .pratos-container .pratos { width: 100%; }
			
				#cardapio .cardapio-container .pratos-container .pratos li { 
					width: 96%; 
					height: 50px;
					border-bottom: 1px solid #ebebeb;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					padding-top: 28px;
					margin: 0 auto;
				}
				
					#cardapio .cardapio-container .pratos-container .pratos li:last-child { margin-bottom: 20px; }
				
					#cardapio .cardapio-container .pratos-container .pratos li .prato-title {
						float: left;
						font-weight: 700;
					}
					
					#cardapio .cardapio-container .pratos-container .pratos li .prato-price {
						color: #771e18;
						float: right;
						font-weight: 700;
					}
					
	#cardapio .folha1,
	#cardapio .folha2,
	#cardapio .folha3 {
		height: 2px;
		background-color: white;
		box-shadow: 0 0 1px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
		-o-box-shadow: 0 0 1px rgba(0,0,0,0.2);
		margin: 0 auto;
	}
	
	#cardapio .folha1 { width: 99%; }
	#cardapio .folha2 { width: 98%; }
	#cardapio .folha3 { width: 97%; }
	
	#cardapio small {
		clear: both;
		color: #bbb;
		display: block;
		font-size: 0.75em;
		margin-top: 5px;
	}
		
/* ### FOTOS ### */
#fotos {
	padding: 30px 0 70px;
}

	#fotos .title {
		margin: 20px 0;
	}
	
	#fotos p {
		text-align: center;
	}
	
	#fotos h2 {
		clear: both;
		color: #303030;
		font-family: 'Leckerli One', cursive;
		text-align: center;
		padding-top: 60px;
		margin-bottom: 20px;
	}
	
	#fotos .gallery-item {
		width: 16.66667%;
		height: 135px;
		border: 5px solid white;
		box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		float: left;
		overflow: hidden;
		margin: 0 0.9375em 0.9375em;
	}
		#fotos .gallery-item:nth-child(5n) { margin-right: 0; }
		
@media only screen and (max-width: 768px) {
	#fotos .gallery-item {
		width: 15%;
		height: auto;
	}
}
		
/* ### CONTATO ### */
#contato {
	padding: 50px 0 70px;
}

	#contato p {
		text-align: center;
		margin-bottom: 30px;
	}
	
	#contato fieldset {
		border: none;
		padding: 0;
	}
	
	#contato .vfb-left-half {
		width: 49%;
		height: 50px;
		float: left;
		margin-bottom: 20px;
	}
	
	#contato .vfb-right-half {
		width: 49%;
		height: 50px;
		float: right;
		margin-bottom: 20px;
	}
	
	#contato input[type=text],
	#contato input[type=email],
	#contato textarea {
		width: 100%;
		height: 50px;
		box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		outline: none;
	}
	
	#contato textarea { height: 200px !important; }
	
	#contato .vfb-item-textarea {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 200px;
		max-height: 200px;
		clear: both;
	}
	
	#contato .button {
		width: 200px;
		height: 70px;
		font-size: 1.5em;
		padding-top: 22px;
		margin: 40px auto 0;
	}
	
		#contato .button:active { top: 3px; }
	
	#contato .vfb-legend,
	#contato #vfb-3,
	#contato label,
	#contato .vfb-span { display: none; }
	
	#contato #form_success {
		color: #771e18;
		font-weight: 700;
		margin-bottom: 140px;
	}
	
/* ### NOVIDADES ### */
#novidades {
	padding-bottom: 70px;
}

	#novidades .title {
		margin: 50px 0 20px;
	}
	
	#novidades .item {
		width: 100%;
		border-bottom: 1px dashed #000;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	
		#novidades .item .head {
			width: 100%;
			display: block;
		}
	
			#novidades .item .head h2 {
				color: #303030;
				float: left;
				font-family: 'Leckerli One', cursive;
				margin-bottom: 20px;
			}
			
				#novidades .item .head h2 a { color: #303030; }
			
			#novidades .item .head .date {
				float: right;
				margin-top: 18px;
			}
			
				#novidades .item .head .date span {
					color: #771e18;
					font-size: 0.87em;
					font-style: italic;
				}
				
		#novidades .item .image-box {
			width: 100%;
			border: 5px solid white;
			box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			overflow: hidden;
			margin-bottom: 30px;
		}
		
			#novidades .item .image-box img {
				width: 100%;
				height: auto;
			}
		
		#novidades .item .textbox {
			width: 100%;
			display: block;
		}
		
			#novidades .item .textbox p {
				font-size: 0.87em;
				line-height: 24px;
			}
			
				#novidades .item .textbox p a {
					color: #771e18;
					font-style: italic;
				}
	
		#novidades .post p {
			margin-bottom: 20px;
		}
		
		#novidades .post .image-box { border: 0 !important; }
		
		#novidades .post img {
			width: 280px;
			height: auto;
			border: 5px solid white;
			box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			float: left;
			margin-right: 20px;
		}
				
	#novidades #sidebar { margin-top: 60px; }
	
		#novidades #sidebar h1 {
			font-family: 'Leckerli One', cursive;
			font-size: 1.5em;
			margin-bottom: 20px;
		}
		
		#novidades #sidebar aside {
			margin-bottom: 35px;
		}
		
		#novidades #sidebar .screen-reader-text {
			display: none;
		}
		
		#novidades #sidebar input[type=search] {
			width: 100%;
			height: 50px;
			box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			font-size: 0.87em;
			outline: none;
			padding: 10px;
		}
		
		#novidades #sidebar .button {
			height: 50px;
			font-size: 1.2em;
			padding-top: 17px;
			margin-top: 20px;
		}
		
			#novidades #sidebar .button:active { top: 3px; }
			
			#novidades #sidebar .tagcloud a {
				color: #303030;
				font-size: 0.87em !important;
				margin-right: 5px;
			}
			
				#novidades #sidebar .tagcloud a:hover {
					color: #771e18;
					text-decoration: underline;
				}
				
			#novidades #sidebar #archives-2 li {
				list-style-type: disc;
				margin-left: 20px;
			}
			
				#novidades #sidebar #archives-2 li a {
					color: #000;
					font-size: 0.87em;
				}
				
					#novidades #sidebar #archives-2 li a:hover {
						color: #771e18;
						text-decoration: underline;
					}
					
@media only screen and (max-width: 768px) {
	#novidades .item .head h2 {
		float: none;
		font-size: 1.8em;
		margin-bottom: 10px;
	}
	
	#novidades .item .head .date {
		float: none;
		margin: 0 0 20px;
	}
}
		
/* ### LOCALIZAÇÃO ### */
#localizacao {
	padding-bottom: 70px;
}

	#localizacao #map {
		width: 100%;
		height: 500px;
		float: left;
		margin-top: -38px;
	}

	#localizacao .title {
		margin: 20px 0;
	}
	
	#localizacao p {
		text-align: center;
	}
	
		#localizacao .maps h5 {
			margin-bottom: 10px;
		}
	
		#localizacao .maps p {
			line-height: 16px;
			text-align: left;
		}
	
	#localizacao .address-container {
		width: 314px;
		text-align: center;
		margin: 60px auto 0;
	}
	
		#localizacao .address-container h2 {
			color: #303030;
			font-family: 'Leckerli One', cursive;
			margin-bottom: 20px;
		}
		
		#localizacao .address-container .button {
			width: 200px;
			height: 70px;
			font-size: 1.5em;
			padding-top: 24px;
			margin: 25px auto 0;
		}
		
			#localizacao .address-container .button:active { top: 3px; }
			
/* ### ERRO 404 ### */
#erro {
	padding: 280px 0;
}

	#erro .mensagem {
		width: 340px;
		text-align: center;
		margin: 0 auto;
	}
	
		#erro .mensagem h2 {
			color: #303030;
			font-family: 'Leckerli One', cursive;
			margin-bottom: 20px;
		}
		
		#erro .mensagem a { color: #771e18; }
			#erro .mensagem a:hover { text-decoration: underline; }
		
/* ### FOOTER ### */
footer {
	width: 100%;
	background: repeat-x url(../images/bg-footer.jpg);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #ebebeb;
	text-align: center;
	padding-bottom: 35px;
}

	footer #negative-logo {
		display: block;
		margin: 100px auto 0;
	}
	
	footer small {
		width: 100%;
		font-size: 0.75em;
		display: block;
		line-height: 18px;
		text-align: center;
	}
	
	footer h5 {
		font-weight: 700;
		text-transform: uppercase;
		margin: 35px 0 22px;
	}
	
	footer p {
		font-size: 0.75em;
		line-height: 18px;
	}
	
	footer fieldset {
		border: 0;
		padding: 0;
	}
	
	footer .vfb-legend,
	footer .vfb-desc,
	footer #vfb-16 {
		display: none;
	}
	
	footer input[type=email] {
		width: 100%;
		height: 50px;
		margin: 20px 0 0;
	}
	
	footer #news_success { margin-top: 40px; }
	
	footer .button {
		width: 100%;
		height: 50px;
		font-size: 1.12em;
		text-transform: uppercase;
		padding-top: 18px;
	}
	
		footer .button:active { top: 3px; }
		
	footer .localizacao {
		text-transform: uppercase;
		margin-bottom: 20px;
	}
		
	footer .map {
		width: 100%;
		border: 10px solid white;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		display: block;
		overflow: hidden;
		text-align: center;
	}
	
		footer .map img {
			width: 100%;
			height: auto;
		}
		
	footer .social-container {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	
		footer .social-container a {
			width: 100%;
			height: 50px;
			background-color: transparent;
			background-position: 20px center;
			background-repeat: no-repeat;
			border: 2px solid #ebebeb;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			color: #ebebeb;
			display: block;
			text-transform: uppercase;
			transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			padding-top: 16px;
		}
		
			footer .social-container a.face { 
				background-image: url(../images/icon-face.png); 
				background-position: 40px center;
				margin-bottom: 20px;
			}
			
			footer .social-container a.trip { 
				background-image: url(../images/icon-trip.png); 
				padding-left: 50px;
			}
			
@media only screen and (max-width: 768px) {
	footer { text-align: center; }
}
			
@media only screen and (max-width: 640px) {
	footer #negative-logo {
		margin: 39px auto 0;
	}
	
	footer h5 {
		margin: 35px 0 22px;
	}
}
	
/* ### FORM MESSAGE ### */
#message {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	font-size: 0.75em;
	opacity: 0;
	position: fixed;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	visibility: hidden;
	top: 0px;
	z-index: 9999;
	padding: 8px 12px;
}
		
		
