﻿/* 
    ###################################
    ### CSS Document ##################
    ### Desenvolvido por Biscuit ######
    ###################################
*/

/* Title */
.title {
	width: 100%;
	height: 86px;
	display: block;
	position: relative;
	text-align: center;
}

	.title h1 {
		background: repeat url(../images/bg.jpg);
		color: #771e18;
		display: inline-table;
		font-family: 'Alegreya', serif;
		font-weight: 700;
		position: relative;
		text-transform: uppercase;
		top: 0;
		padding: 0 22px;
	}
		
	.title span  {
		width: 100%;
		height: 10px;
		border-top: 2px dashed #771e18;
		border-bottom: 2px dashed #771e18;
		position: absolute;
		top: 36px;
		left: 0;
	}
	
@media only screen and (max-width: 640px) {
	.title h1 { 
		font-size: 1.8em; 
		margin-top: 24px;
	}
}
	
/* Button */
.button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	color: white;
	display: block;
	font-family: 'Alegreya', serif;
	position: relative;
	text-align: center;
}

	.button.red-button {
		background-color: #771e18;
		box-shadow: 0 3px 0 #441916;
		-webkit-box-shadow: 0 3px 0 #441916;
		-moz-box-shadow: 0 3px 0 #441916;
		-o-box-shadow: 0 3px 0 #441916;
	}
	
	.button.black-button {
		background-color: #464646;
		box-shadow: 0 3px 0 #303030;
		-webkit-box-shadow: 0 3px 0 #303030;
		-moz-box-shadow: 0 3px 0 #303030;
		-o-box-shadow: 0 3px 0 #303030;
	}
	
	.button:active { 
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		-o-box-shadow: none !important;
	}
