﻿/* 
    ###################################
    ### CSS Document ##################
    ### Desenvolvido por Biscuit ######
    ###################################
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Alegreya', serif;
    -webkit-font-smoothing: antialiased;
}

h1 { font-size: 2.25em; }
h2 { font-size: 2.15em; }
h3 {  }
h4 { font-size: 1.5em; }
h5 { font-size: 1.12em; }
h6 { font-size: 0.85em; }

    h1 strong,
    h2 strong,
    h3 strong,
    h4 strong,
    h5 strong,
    h6 strong {
        font-weight: 700;
    }

p { 
	font-size: 0.87em; 
	line-height: 24px;
}

    p strong {
        font-weight: 700;
    }
    
@media only screen and (max-width: 960px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.8em; }
}