/*
+----------------------------------------------------------------+
|																							|
|	WordPress 2.8 Plugin: WP-PageNavi 2.50									|
|	Copyright (c) 2009 Lester "GaMerZ" Chan									|
|																							|
|	File Written By:																	|
|	- Lester "GaMerZ" Chan															|
|	- http://lesterchan.net															|
|																							|
|	File Information:																	|
|	- Page Navigation CSS Style													|
|	- wp-content/plugins/wp-pagenavi/pagenavi-css.css					|
|																							|
+----------------------------------------------------------------+
*/

div.wp-pagenavi {
    margin: 15px 0;
}
.wp-pagenavi span.pages {
	padding: 2px 6px;
	margin: 2px 2px 2px 2px;
	color: #666;
	border: 1px solid #666;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.wp-pagenavi span.current {
	padding: 2px 6px;
	margin: 2px;
	font-weight: bold;
	border: 1px solid #666;
	color: #666;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.wp-pagenavi span.extend {
	padding: 2px 6px;
	margin: 2px;	
	border: 1px solid #666;
	color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}