/*
Theme Name: QualiFire
Theme URI: 
Description: CSS for the 'QualiFire Theme'.
Version: 1.0
Author: Andon
Author URI: http://www.andon-design.com/
*/


#wrapper-1 {
    display: table;
    position: relative;
    width: 100%;
    background: #F4F4F4 url(../images/top-bg.png) repeat-x scroll left top;
}
/* Begin Top area (Logo and Search) */
#top {
    background: transparent url(../images/top-highlight.jpg) no-repeat;
    height: 118px;
    position: relative;
    z-index: 100;
}
#logo {
    top: 6px;
    left: 0;
    position: absolute;
    z-index: 100;
}
#logo h1 {
    margin: 0;
    padding: 0 0 0 20px;
}
#logo h1 a {
    display: block;
    height: 90px;
    text-indent: -5000px;
    overflow: hidden;
    outline: 0;
}
#slogan {
    left: 0;
    position: absolute;
    top: 80px;
    left: 90px;
    font-size: 1em;
    color: #737272;
}
.js_on #slogan {
    left: 0;
    position: absolute;
    top: 80px;
    left: 90px;
    font-size: 1.4em;
    color: #737272;
}
#search {
    margin: 25px 0 0 28px;
}
#search .search_box {
    height: 31px;
    margin-top: 5px;
    display: inline-block;
    float: left;
}
#search input.inputbox, #search input.inputbox_focus {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    float: left;
    margin: 0;
    padding: 7px 0 7px 14px;
    width: 172px;
    height: 16px;
    font-size: 13px;
    line-height: 10px;
    color: #999;
    text-shadow: 0 1px #F4F4F4;
}
#search input.inputbox_focus {
    background: transparent url(../images/searchbox.png) no-repeat scroll 0 -31px;
}
#search input.inputbox {
    background: transparent url(../images/searchbox.png) no-repeat scroll 0 0;
}
#search input.search-btn {
    background:transparent url(../images/searchbox.png) no-repeat scroll 100% 0;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 31px;
    margin: 0;
    padding: 0;
    width: 38px;
}
#search input.search-btn:hover {
    background-position: 100% -31px;
}
#top .phone-number {
    text-align: center;
    color: #909090;
    font-size: 1.3em;
    padding-top: 5px;
    text-shadow: 0 1px #FFF;
}
/* End Top area (logo and Ssearch) */

/* Begin Header with Piecemaker Slider */
#piecemaker-header {
    background: #F4F4F4 url(../images/header-bg.png) repeat-x scroll 50% 0;
    display: table;
    height: 370px;
    position: relative;
    width: 100%;
}
#piecemaker-wrapper {
    margin: -2px -70px 0;
}
#flashcontent {
    position:relative;
    z-index:999;
    text-align:center;
}
#pm-shadow {
    background: transparent url(../../common-images/trans-shadow.png) no-repeat scroll 0 100%;
    width: 940px;
    height: 300px;
    margin: -260px auto 0;
}
/* End Header with Piecemaker Slider */

/* Begin Header with Slider Cycle 1 */
#c1-header {
    background: transparent url(../images/header-bg.png) repeat-x scroll 50% 0;
    display: table;
    height: 370px;
    position: relative;
    width: 100%;
}
#c1-header #header-content {
    margin-top: 2px;
}
#c1-header .c1-slideshow {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    width: 960px;
    height: 360px;
    z-index: 100;
}
#c1-header .c1-slideshow {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    width: 960px;
    height: 360px;
    z-index: 100;
}
#c1-slider {
    position: relative;
    list-style: none outside none;
    margin-left:auto;
    margin-right:auto;
}
#c1-slider li {
    background: none repeat scroll 0 0 transparent !important;
    width: 940px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}
#c1-slider .slide-desc {
    float: left;
    height: 300px;
    margin: 0 0 0 30px;
    width: 240px;
}
#c1-slider .slide-desc h2 {
    font-size: 18px;
    margin-top: 5px;
}
.js_on #c1-slider .slide-desc h2 {
    font-size: 26px;
}
#c1-slider .slide-desc p {
    margin: 0;
    padding: 5px 0;
}
#c1-slider .slide-img {
    float: left;
    margin: 0;
}
#c1-slider .slide-desc h2 {
    padding-bottom: 6px;
}
.c1-slider-navigation {
    position: relative;
    margin: 0 auto;
    z-index:99999;
}
#c1-header .c1-slider-navigation a span#slider-prev {
    background: url("../images/left-arrow.png") no-repeat scroll 0 0 transparent;
    display: none;
    text-indent: -9999px;
    text-decoration: none;
    width: 53px;
    height: 95px;
    position: absolute;
    top: 130px;
    left: 15px;
    z-index: 999;
}
#c1-header .c1-slider-navigation a span#slider-next {
    background: url("../images/right-arrow.png") no-repeat scroll 0 0 transparent;
    display: none;
    text-indent: -9999px;
    text-decoration: none;
    width: 53px;
    height: 95px;
    border: 0 none;
    outline: 0 none;
    position: absolute;
    top: 130px;
    right: 15px;
    z-index: 999;
}
#c1-header .c1-slider-navigation a:hover span#slider-prev {
    background: url("../images/left-arrow-hover.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#c1-header .c1-slider-navigation a:hover span#slider-next {
    background: url("../images/right-arrow-hover.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#c1-nav {
    z-index: 999;
    padding: 25px 5px 0 0;
    margin: 0 auto;
    float:right;
    height:14px;
    position: relative;
}
#c1-nav a {
    background: url("../images/slider-bullet.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
#c1-nav a.activeSlide {
    background-position: -15px 0;
}
#c1-pauseButton {
    z-index: 999;
    margin: 0 auto;
    height: 14px;
    float: right;
    position: relative;
}
#c1-pauseButton a {
    background: url("../images/slider-controls.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 25px 5px 0 0;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
#c1-resumeButton {
    z-index: 999;
    margin: 0 auto;
    height: 14px;
    float: right;
    position: relative;
}
#c1-resumeButton a {
    background: url("../images/slider-controls.png") no-repeat scroll 100% 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 25px 30px 0 0;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
#c1-shadow {
    background: transparent url(../../common-images/trans-shadow.png) no-repeat scroll 0 100%;
    width: 940px;
    height: 300px;
    margin: -305px auto 0;
}
/* End Header with Slider Cycle 1 */

/* Begin Header with Slider Cycle 2 */
#c2-header {
    background: #F4F4F4 url(../images/header-bg.png) repeat-x scroll 50% 0;
    display: table;
    height: 380px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
#c2-header .c2-slideshow {
    position: relative;
    overflow: hidden;
    outline: none;
    width: 960px;
    height: 380px;
    z-index: 100;
}
#c2-slider {
    position: relative;
    list-style: none outside none;
    margin: 0;
}
#c2-slider li {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    overflow: hidden;
    margin: 2px 0;
    padding: 0 22px;
    width: 918px;
}
#c2-slider .slide-desc {
    float: left;
    height: 340px;
    margin: 0 0 0 30px;
    width: 288px;
    padding: 20px;
    overflow: hidden;
}
#c2-slider .slide-desc h2 {
    font-size: 22px;
    margin-top: 5px;
    padding-bottom: 2px;
}
#c2-slider .slide-desc p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}
.c2-slide-img-wrapper {
    float: left;
    overflow: hidden;
    padding: 15px 0 0 0;
    width: 540px;
    height: 341px;
}
#c2-slider .slide-img {
    float: left;
    margin: 4px 0 0;
}
.c2-slide-img-frame {
    background: transparent url(../images/slide-img-frame.png) no-repeat scroll 0 0;
    width: 580px;
    height: 380px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    left: 2px;
}
.c2-slide-img-frame-bg {
    background-color: #F4F4F4;
    width: 540px;
    height: 340px;
    position: absolute;
    overflow: hidden;
    left: 21px;
    top: 20px;
}
.c2-slider-navigation {
    position: relative;
    margin: 0 auto;
    z-index:99999;
}
.c2-slider-controls {
    margin: -23px 380px 0 0;
}
#c2-header .c2-slider-navigation a span#slider-prev {
    background: url("../images/left-arrow.png") no-repeat scroll 0 0 transparent;
    display: none;
    text-indent: -9999px;
    text-decoration: none;
    width: 53px;
    height: 95px;
    position: absolute;
    top: 130px;
    left: 25px;
    z-index: 99999;
}
#c2-header .c2-slider-navigation a span#slider-next {
    background: url("../images/right-arrow.png") no-repeat scroll 0 0 transparent;
    display: none;
    text-indent: -9999px;
    text-decoration: none;
    width: 53px;
    height: 95px;
    border: 0 none;
    outline: 0 none;
    position: absolute;
    top: 130px;
    left: 505px;
    z-index: 99999;
}
#c2-header .c2-slider-navigation a:hover span#slider-prev {
    background: url("../images/left-arrow-hover.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#c2-header .c2-slider-navigation a:hover span#slider-next {
    background: url("../images/right-arrow-hover.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#c2-nav {
    z-index: 999;
    padding: 25px 22px 0 0;
    margin: 0 auto;
    float:right;
    height:14px;
    position: relative;
}
#c2-nav a {
    background: url("../images/slider-bullet.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
#c2-nav a.activeSlide {
    background-position: -15px 0;
}
#c2-pauseButton {
    z-index: 999;
    margin: 0 auto;
    height: 14px;
    float: left;
    position: relative;
}
#c2-pauseButton a {
    background: url("../images/slider-controls.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 25px 0 0 30px;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
#c2-resumeButton {
    z-index: 999;
    margin: 0 auto;
    height: 14px;
    float: left;
    position: relative;
}
#c2-resumeButton a {
    background: url("../images/slider-controls.png") no-repeat scroll 100% 0 transparent;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 25px 0 0 5px;
    text-indent: -9999px;
    border: 0 none;
    outline: 0 none;
}
/* End Header with Slider Cycle 2 */

/* Begin Page Container (Sidebar and Main Content) */
#page-content {
    background: transparent url(../images/pages-content-bg.png) repeat-x scroll 50% 0;
    display: table;
    min-height: 104px;
    position: relative;
    width: 100%;
}
#page-content #page-title h2 {
    margin: 0 20px;
    font-size: 28px;
    color: #FFF;
    line-height: 42px;
}
.js_on #page-content #page-title h2 {
    margin: 3px 20px;
    font-size: 34px;
    color: #FFF;
}
#page-content #page-title h2 a {
    color: #FFF;
}
#home-content-bg {
    background: #EBEBEB url(../images/home-content-bg.png) repeat-x scroll 50% 0;
    display: table;
    height: 110px;
    position: relative;
    width: 100%;
}
#content-bg {
    background: #EBEBEB url(../images/content-bg.png) repeat-x scroll 50% 0;
    display: table;
    height: 115px;
    position: relative;
    width: 100%;
}
/* End Page Container (Sidebar and Main Content) */

/* Begin Post */
.post-top {
    clear: both;
    float: left;
    padding-bottom: 7px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #D6D6D6;
}
.post-top .post-date {
    color: #D6D6D6;
    height: 44px;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 3px;
    width: 112px;
}
.post-top .day {
    border-right: 1px solid #D6D6D6;
    display: block;
    left: 0;
    line-height: 45px;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    height: 40px;
    top: 0;
    width: 55px;
}
.post-top .month {
    color: #D6D6D6;
    display: block;
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    left: 60px;
    line-height: 1em;
    top: 6px;
    width: 50px;
}
.post-top .year {
    color: #D6D6D6;
    display: block;
    letter-spacing: 2px;
    line-height: 1em;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    left: 60px;
    top: 25px;
    width: 53px;
}
.post-top h2, .post-top h3 {
    width: 500px;
    font-size: 24px;
}
.js_on .post-top h2, .post-top h3 {
    width: 500px;
    font-size: 30px;
}
.post-top h2 a, .post-top h3 a {
    text-decoration: none;
}
.entry {
    padding: 10px 0 20px;
    clear: both;
}
.postmetadata {
    padding: 5px 20px !important;
    margin:15px 0 0 !important;
    text-shadow: none;
    border: 1px solid #BBB;
    background-color: #EEE;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 0 9px #CCCCCC;
    -webkit-box-shadow: 0 0 9px #CCCCCC;
    background: -moz-linear-gradient(center top , #FFF, #EEE);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#EEE));
}
/* End Post */

/* Begin Comments*/
ol.commentlist {
    margin: 0;
    padding: 0;
    width: 600px;
}
.commentlist li {
    list-style: none;
    margin-left: 15px;
}
.commentlist .children li {
    border-left: 1px dotted #D6D6D6;
}
.comment {
    padding: 10px;
}
.commentlist .comment-meta {
    padding: 7px 7px 30px;
    display: block;
    font-style: normal;
}
.commentlist .even .comment-meta,
.commentlist .children .even .comment-meta,
.commentlist .children li .even .comment-meta,
.commentlist .children .children li .even .comment-meta,
.commentlist .children .children .children li .even .comment-meta,
.commentlist .children .children .children .children li .even .comment-meta,
.commentlist .children .children .children .children .children li .even .comment-meta,
.commentlist .children .children .children .children .children .children li .even .comment-meta,
.commentlist .children .children .children .children .children .children .children li .even .comment-meta,
.commentlist .children .children .children .children .children .children .children .children li .even .comment-meta {
    background: transparent url(../images/comment-bubble.png) no-repeat scroll 40px 100%;
}
.commentlist .odd .comment-meta,
.commentlist .children .odd .comment-meta,
.commentlist .children li .odd .comment-meta,
.commentlist .children .children .children li .odd .comment-meta,
.commentlist .children .children .children .children .children li .odd .comment-meta,
.commentlist .children .children .children .children .children .children .children li .odd .comment-meta {
    background: transparent url(../images/comment-bubble-alt.png) no-repeat scroll 20px 100%;
}
.commentlist .comment-meta img {
    padding: 1px;
    border: 1px solid #AAB59A;
    float: left;
    margin-right: 9px;
}
.avatar-wrapper {
    display: block;
    width: 70px;
    float: left;
}
commentmetadata {
    display: block;
    width: 568px;
    float: left;
}
.commentlist .author {
    font: small-caps bold 1.2em Georgia, "Times New Roman", Times, serif;
    margin: 5px;
}
.commentlist .time {
    background: url(../../common-images/clock.png) no-repeat 1px;
    padding-left: 25px;
}
.commentlist .commenttext {
    padding: 20px;
    background-color: #E7E7E7;
    color: #777;
    position: relative;
    text-shadow: none !important;
}
.commentlist .alt .commenttext {
    padding: 20px;
    background-color: #FFF;
    color: #999;
    text-shadow: none !important;
}
.commentlist .children .even .commenttext,
.commentlist .children li .even .commenttext,
.commentlist .children .children li .even .commenttext,
.commentlist .children .children .children li .even .commenttext,
.commentlist .children .children .children .children li .even .commenttext,
.commentlist .children .children .children .children .children li .even .commenttext,
.commentlist .children .children .children .children .children .children li .even .commenttext,
.commentlist .children .children .children .children .children .children .children li .even .commenttext,
.commentlist .children .children .children .children .children .children .children .children li .even .commenttext {
    padding: 20px;
    background-color: #E7E7E7;
    color: #777;
    position: relative;
}
.commentlist .children .odd .commenttext,
.commentlist .children li .odd .commenttext,
.commentlist .children .children li .odd .commenttext,
.commentlist .children .children .children li .odd .commenttext,
.commentlist .children .children .children .children .children li .odd .commenttext,
.commentlist .children .children .children .children .children .children .children li .odd .commenttext {
    padding: 20px;
    background-color: #FFF;
    color: #999;
}
.depth-2, .depth-3, .depth-4, .depth-5, .depth-6, .depth-7, .depth-8, .depth-9, .depth-10 {
    padding-right: 0px;
    padding-bottom: 0px;
}
.commentlist .commenttext .round-corner-t-l {
    background:transparent url(../images/round-corners.png) no-repeat scroll 0 0;
    left:0;
    top:0;
}
.commentlist .commenttext .round-corner-t-r {
    background:transparent url(../images/round-corners.png) no-repeat scroll 100% 0;
    right:0;
    top:0;
}
.commentlist .commenttext .round-corner-b-l {
    background:transparent url(../images/round-corners.png) no-repeat scroll 0 -12px;
    left:0;
    bottom:0;
}
.commentlist .commenttext .round-corner-b-r {
    background:transparent url(../images/round-corners.png) no-repeat scroll 100% -12px;
    right:0;
    bottom:0;
}
.commentlist .commenttext .round-corner-t-l,
.commentlist .commenttext .round-corner-t-r,
.commentlist .commenttext .round-corner-b-l,
.commentlist .commenttext .round-corner-b-r {
    height: 12px;
    width: 12px;
    position: absolute;
}
#respond {
    clear: both;
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
    width: 100%;
}

#comment, fieldset textarea{
    height: 150px;
    padding: 5px;
    width: 97%;
}
#commentform p, fieldset p{
    padding: 2px 0;
    clear: both;
}

#commentform input{
    padding: 5px;
    cursor: pointer;
}
/* End Comments */

/* Begin Images */
p img {
    padding: 0;
    max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.aligncenter {
    margin-top: 7px;
    margin-bottom: 5px;
}

img.alignright {
    padding: 4px;
    margin: 4px 0 4px 7px;
    display: inline;
}

img.alignleft {
    padding: 4px;
    margin: 4px 7px 4px 0;
    display: inline;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}
/* End Images */

/* Begin Captions */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}
/* End Captions */

/* Begin Sidebar */
#sidebar {
    text-shadow: 0 1px #FFF;
}
#sidebarSubnav {
    margin: 0;
    padding: 0;
}
#sidebarSubnav h3{
    margin: 3px 0 0;
    padding-bottom: 7px;
    background: transparent url(../images/underline-1.png) repeat-x scroll 0 100%;
}
#sidebarSubnav a {
    text-decoration: none;
}
.custom-formatting,
.substitute_widget_class {
    padding: 10px 20px;
}
.custom-formatting a {
    display: block;
    padding: 5px 5px 5px 22px;
}
.custom-formatting ul {
    list-style-type: none;
    margin: 0;
}
.custom-formatting ul ul li a {
    padding-left: 37px !important;
}
.custom-formatting ul ul ul li a {
    padding-left: 52px !important;
}
.custom-formatting ul ul ul ul li a {
    padding-left: 67px !important;
}
.custom-formatting ul ul ul ul ul li a {
    padding-left: 82px !important;
}
.custom-formatting li {
    margin: 0;
    width: 100%;
    background: transparent url(../images/arrow-2.png) no-repeat scroll 5px 10px;
}
.custom-formatting li.current_page_item > a, .custom-formatting li.current-cat > a, .custom-formatting li.current > a {
    color: #777;
}
.custom-formatting li.current_page_item > a:hover, .custom-formatting li.current-cat > a:hover, .custom-formatting li.current > a:hover {
    color: #999;
}
.custom-formatting li li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 20px 10px;
}
.custom-formatting li li li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 35px 10px;
}
.custom-formatting li li li li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 50px 10px;
}
.custom-formatting li li li li li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 75px 10px;
}
.custom-formatting li:hover {
    background: transparent url(../images/arrow-2-hover.png) no-repeat scroll 5px 10px;
}
.custom-formatting li li:hover {
    background: transparent url(../images/arrow-2-hover.png) no-repeat scroll 20px 10px;
}
.custom-formatting li li li:hover {
    background: transparent url(../images/arrow-2-hover.png) no-repeat scroll 35px 10px;
}
.custom-formatting li li li li:hover {
    background: transparent url(../images/arrow-2-hover.png) no-repeat scroll 50px 10px;
}
.custom-formatting li li li li li:hover {
    background: transparent url(../images/arrow-2-hover.png) no-repeat scroll 75px 10px;
}
.custom-formatting li a,
.custom-formatting li a:hover,
.custom-formatting li li a:hover,
.custom-formatting li li li a:hover,
.custom-formatting li li li li a:hover,
.custom-formatting li li li li li a:hover,
.custom-formatting .current_page_item ul a {
    background: transparent url(../images/underline-1.png) repeat-x scroll 0 100%;
}
.home-cont-box .custom-formatting li a,
.home-cont-box .custom-formatting li a:hover,
.home-cont-box .custom-formatting li li a:hover,
.home-cont-box .custom-formatting li li li a:hover,
.home-cont-box .custom-formatting li li li li a:hover,
.home-cont-box .custom-formatting li li li li li a:hover,
.home-cont-box .custom-formatting .current_page_item ul a {
    background: transparent url(../images/heading_underline.gif) repeat-x scroll 0 100%;
 }

.widget_tag_cloud {
    padding: 10px 20px;
}
.widget_tag_cloud a {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    display: inline;
    line-height: 1.5em;
    padding: 3px;
}
.widget_tag_cloud a:hover {
    text-decoration: underline !important;
}
.custom-rss-formatting .content-padding {
    padding-left: 10px !important;
}
ul#recentcomments {
    list-style-type: none;
    margin-bottom: 0;
}
#recentcomments a {
    display: inline;
    padding: 0;
}
#recentcomments li {
    margin: 0;
    width: 100%;
    color: #555;
    padding: 5px 5px 5px 5px;
    width: 270px;
    background: transparent url(../images/underline-1.png) repeat-x scroll 0 100%;
}
.home-cont-box #recentcomments li {
    margin: 0;
    width: 100%;
    color: #555;
    padding: 5px 5px 5px 5px;
    width: 290px;
    background: transparent url(../images/heading_underline.gif) repeat-x scroll 0 100%;
}
#recentcomments li span {
    background: transparent url(../images/recent-comment.png) no-repeat scroll 0 1px;
    width: 18px;
    height: 16px;
    padding-left: 25px;
}
#recentcomments li a, #recentcomments .current_page_item ul a {
    border-bottom: none;
    background-color: transparent;
}
#recentcomments .current_page_item a, #recentcomments .current a{
    background-color: transparent;
    background-image: none;
    text-decoration: underline;
}
#recentcomments li a:hover{
    background-color: transparent;
    background-image: none;
}
.widget_text ul li {
    padding-left: 30px;
    background:transparent url(../images/arrow-2.png) no-repeat scroll 5px 7px;
}
.widget_text ul ul li {
    padding-left: 45px;
    background:transparent url(../images/arrow-2.png) no-repeat scroll 20px 7px;
}
.widget_text ul ul ul li {
    padding-left: 60px;
    background:transparent url(../images/arrow-2.png) no-repeat scroll 35px 7px;
}
.widget_text ul ul ul ul li {
    padding-left: 75px;
    background:transparent url(../images/arrow-2.png) no-repeat scroll 50px 7px;
}
.textwidget {
    padding: 7px 0 0;
    color: #666;
}
#wp-calendar th {
    color: #49708A;
}
#calendar_wrap td#prev a {
    text-align: left;
}
#calendar_wrap td#next a {
    text-align: right;
}
#calendar_wrap td {
    padding: 6px 8px;
}
#calendar_wrap td#today {
    background-color: #49708A;
    color: #FFF;
}
#calendar_wrap a {
    padding: 0;
    border: none;
    color: #49708A;
}
#calendar_wrap tfoot a {
    color: #49708A;
}
#bottom #wp-calendar {
    color: #555;
}
.text_input, .text_area, textarea, #commentform input {
    border: 1px solid #ababab;
    color: #333;
}
#searchform {
    margin-left: 40px;
}
#searchsubmit, #send, #sidebarSubnav #submit {
    background-color:#333;
    cursor: pointer;
    color: #fff;
    margin: 10px;
}
#searchsubmit:hover, #send:hover, #sidebarSubnav #submit:hover {
    background-color: #333;
    color: #49708A;
}
.lelfPadding10 {
    padding-left: 10px;
}
.lelfPadding20 {
    padding-left: 20px;
}
#sidebarSubnav .widget_googlemap {
    visibility: hidden;
}
.js_on #sidebarSubnav .widget_googlemap {
    visibility: visible;
}
.widget-ads {
    margin: 0 0 15px;
}
.sidebar-cont-box-wide {
    position: relative;
}
.sidebar-cont-box-wide .content-padding {
    padding: 0 12px;
}
.ads-wrapper {
    margin-top: 5px;
    display: table;
}
#sidebarSubnav select.postform {
    margin: 5px 0 0;
}
#home-page-content select.postform {
    margin: 3px 0 0;
}
#sidebarSubnav #googlemap-widget {
    display: none;
}
.js_on #sidebarSubnav #googlemap-widget {
    display: block;
}
/* End Sidebar */

/* Begin Main Content */
#front_content {
    background-color: #F9F9F9;
    min-height: 100px;
    font-size: 14px;
    z-index: 100;
}
.entry ul,
.entry ol {
    margin-bottom: 2px;
}
.navigation {
    margin: 0 0 5px;
}
/* End Main Content */

/* Begin Footer */
#footer-bg {
    position: relative;
    display: table;
    width: 100%;
    padding-bottom: 15px;
    min-height: 60px;
    background-color:#282828;
}
#footer {
    background: url("../images/underline-btm.gif") repeat-x scroll 0 0 transparent;
}
.footer-top {
    height: 12px;
}
#footer_text {
    margin: 8px 10px 15px 10px;
    color: #636363;
}
#footer_text a {
    color: #bfbfbf;
}
#footer_text p {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.text_centered p {
    text-align: center;
    padding: 15px 0 0 !important;
}
.back-to-top a {
    float:right;
    text-align: right;
    margin-top:8px;
    text-decoration:underline;
    color:#636363;
}
/* Begin Footer */

/* Begin Portfolio Template */
#categoryLinks {
    margin: 5px 0 0 0;
}
#categoryLinks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    line-height: 2.4em;
    font-size: 1.6em;
}
#categoryLinks ul li {
    display: inline;
    margin: 0;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}
#categoryLinks ul li a {
    text-decoration: none;
    padding: 0 .3em;
    color: #666;
}
#categoryLinks ul li a:hover {
    color: #999;
}
#categoryLinks a.current {
    color:#49708A;
}
.thumbsWrapper {
    padding: 10px 20px;
}
.portfolioItemWrapper {
    position: relative;
    width: 260px;
    float: left;
    margin: 15px 20px;
}
.thumbHolder {
    position: relative;
    width: 260px;
    height: 190px;
    background: transparent url(../../common-images/thumb-holder.png) no-repeat scroll 0 0;
}
.portfolioItemWrapper h3, .portfolioItemWrapper h3:hover, .portfolioItemWrapper h3 a {
    text-decoration: none;
    color: #000;
    margin: 0;
    font-size: 20px;
    line-height: 1;
}
.portfolioImgThumb {
    background-color: #FFFFFF;
    height: 157px;
    overflow: hidden; /* Overflow hidden allows the description to toggle/tuck away as it slides down */
    padding: 0;
    position: relative;
    width: 250px;
    margin: 0 auto;
    top: 14px;
}
.portfolioImgThumb img {
    background: #F5F5F5 none repeat scroll 0 0;
    height: 157px;
    position: absolute;
    width: 250px;
}
.portfolio-zoom-image {
    background-image: url(../../common-images/zoom-image.png);
    bottom: 0;
    height: 157px;
    position: absolute;
    width: 250px;
    line-height: normal;
}
/* End Portfolio Template */

/* Begin Blog Template */
.postImageHolder {
    position: relative;
    width: 600px;
    height: 230px;
    background: transparent url(../../common-images/post-img-holder.png) no-repeat scroll 0 0;
}
.postImage {
    background-color: #FFFFFF;
    height: 190px;
    overflow: hidden; /* Overflow hidden allows the description to toggle/tuck away as it slides down */
    padding: 0;
    position: relative;
    width: 590px;
    margin: 0 auto;
    top: 21px;
}
.postImage img {
    background: #F5F5F5 none repeat scroll 0 0;
    height: 190px;
    position: absolute;
    width: 590px;
}
.post-hover-image {
    background-image: url(../../common-images/hover-image.png);
    bottom: 0;
    height: 190px;
    position: absolute;
    width: 590px;
    line-height: normal;
}
/* End Blog Template */

/* Begin Contact Page Template */
#contactInfo {
    font-size: 1.1em;
    margin: 0 0 40px;
}
#contactInfo .contactFieldDesc {
    padding: 5px 0;
    font-weight: bold;
    color: #6D6D6D;
}
#contactInfo .contactFieldValue {
    padding: 5px 0;
    color: #49708A;
    border-bottom: 1px dotted #B7B7B7;
}
#contact-wrapper {
    padding: 0 20px;
}
#contact-wrapper h3, #contact-wrapper h4 {
    padding-bottom: 9px;
}
#contact-wrapper div {
    clear: both;
    margin: 1em 0;
}
#contact-wrapper label,
#contact-wrapper em {
    float: none;
    font-size: 1.1em;
    width: auto;
}
form#contactForm input {
    border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-size: 1.1em;
    color: #333;
}
form#contactForm input.submit {
    border-color: #FFF #999 #999 #FFF;
    padding: 5px 25px;
    cursor: pointer;
}
form#contactForm textarea {
    font-size: 100%;
    padding: 0.6em 0.5em 0.7em;
    border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
    border-style: solid;
    border-width: 1px;
}
form#contactForm label.error {
    color: red;
    float: none;
    padding-left: 0.5em;
    vertical-align: top;
}
form#contactForm input.error,
form#contactForm textarea.error {
    border: 1px solid red;
    color: red;
    margin: 0;
}
/* End Contact Page Template*/

/* Begin Search Page Template*/
strong.search-excerpt { background: yellow; }
/* End  Search Page Template*/

/* Begin Typography (Message Boxes) */
.info, .success, .warning, .erroneous, .validation {
    display: block;
    margin: 10px 0px;
    padding-left:15px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    text-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow:0 0 3px #999999;
    -webkit-box-shadow: 0 0 3px #999999;
}
.info {
    color: #00529B;
    border: 1px solid #38AEE5;
    background-color: #BDE5F8;
    background: -moz-linear-gradient(center top , #FFFFFF, #BDE5F8);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#BDE5F8));
}
.info .msg-box-icon {
    background: transparent url('../../common-images/info.png') no-repeat scroll 4px 50%;
    display: block;
    padding: 18px 10px 18px 50px;
}
.success {
    color: #4F8A10;
    border: 1px solid #A0CF4C;
    background-color: #DFF2BF;
    background: -moz-linear-gradient(center top , #FFFFFF, #DFF2BF);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#DFF2BF));
}
.success .msg-box-icon {
    background: transparent url('../../common-images/success.png') no-repeat scroll 4px 50%;
    display: block;
    padding: 18px 10px 18px 50px;
}
.warning {
    color: #9F6000;
    border: 1px solid #E5BC3B;
    background-color: #FEEFB3;
    background: -moz-linear-gradient(center top , #FFFFFF, #FEEFB3);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FEEFB3));
}
.warning .msg-box-icon {
    background: transparent url('../../common-images/warning.png') no-repeat scroll 4px 50%;
    display: block;
    padding: 18px 10px 18px 50px;
}
.erroneous {
    color: #D8000C;
    border: 1px solid #FF7878;
    background-color: #FFBABA;
    background: -moz-linear-gradient(center top , #FFFFFF, #FFBABA);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFBABA));
}
.erroneous .msg-box-icon {
    background: transparent url('../../common-images/error.png') no-repeat scroll 4px 50%;
    display: block;
    padding: 18px 10px 18px 50px;
}
.custom {
    padding: 17px !important;
    margin:15px 0 !important;
    text-shadow: none;
    display:table;
    width:94%;
    border: 1px solid #BBB;
    background-color: #EEE;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 0 9px #CCCCCC;
    -webkit-box-shadow: 0 0 9px #CCCCCC;
    background: -moz-linear-gradient(center top , #FFF, #EEE);
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#EEE));
}
pre {
    padding: 10px;
    text-shadow: none;
    overflow: auto;
    border: 1px solid #999;
    background:-moz-linear-gradient(center top , #FFFFFF, #EFEFEF);
    background:-webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EFEFEF));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow:0 0 3px #999999;
    -webkit-box-shadow: 0 0 3px #999999;
}
blockquote, blockquote.blue, blockquote.red, blockquote.green, blockquote.orange, blockquote.grey {
    display: block;
    font-size: 100%;
    background: transparent none repeat scroll 0 50%;
    width: auto;
    font-style: italic;
    margin: 15px 0;
    padding: 0 20px;
    border: 0 none;
    line-height: 150%;
}
blockquote.blue {
    color: #00529B;
}
blockquote.red {
    color: #D8000C;
}
blockquote.green {
    color: #4F8A10;
}
blockquote.orange {
    color: #D88740;
}
blockquote.grey {
    color: #555;
}
/* End Typography (Message Boxes) */

/* Begin Drop Down Menu */
#dropdown-holder ul {
    padding-top: 7px;
}

#dropdown-holder ul.sf-menu li.current_page_item a span {
    color: #49708A;
    text-shadow: 0 1px #E4E4E4;
}
#dropdown-holder ul.sf-menu li a:hover,
#dropdown-holder ul.sf-menu li a:hover span  {
    background-image: url(../images/menu-btn.png);
    color: #777 !important;
    text-shadow: 0 1px #E5E5E5;
}
#dropdown-holder ul.sf-menu li.current_page_item a {
    background-image: url(../images/menu-btn.png);
}
#dropdown-holder ul.sf-menu li.current_page_item a span {
    background-image: url(../images/menu-btn.png);
}
.sf-menu li li {
    background: url(../images/dropdown-bg.png) repeat-x 0 0;
}
#dropdown-holder li a,
#dropdown-holder li a span {
    color: #999;
    text-shadow: 0 1px #F4F4F4;
}
#dropdown-holder ul.sf-menu ul a,
#dropdown-holder ul.sf-menu ul a span {
    text-decoration: none;
    color: #999 !important;
    text-shadow: 0 1px #FFF !important;
}
#dropdown-holder ul.sf-menu ul a:hover,
#dropdown-holder ul.sf-menu ul a:hover span  {
    color: #777 !important;
    text-shadow: 0 1px #FFF;
}
.nav-extra {
    padding: 9px 20px 7px;
    float: right;
}
.nav-login {
    float: left;
    margin-top: 2px;
}
.nav-login a {
    color: #999;
    font-weight: bold;
    text-shadow: 0 1px #F4F4F4;
    text-transform: uppercase;
}
.nav-rss {
    float:left;
    padding: 3px 5px 0 20px;
}
/* End Drop Down Menu */

/* Begin Pagination (overwrites: pagination/pagenavi-css.css) */
.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 6px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #49708A;
	color: #49708A;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EFEFEF)) repeat scroll 0 0 #F6F6F6;
	cursor: pointer;
}
.wp-pagenavi a:visited {
	padding: 2px 6px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #49708A;
	color: #49708A;
	background-color: #FFFFFF;
}
.wp-pagenavi a:active {
	padding: 2px 6px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #49708A;
	color: #49708A;
	background-color: #FFFFFF;
}
.wp-pagenavi a:hover {
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
	-moz-box-shadow:0 0 3px #999999;
	-webkit-box-shadow: 0 0 3px #999999;
	background:-moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F3F3F3;
	background:-webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EFEFEF)) repeat scroll 0 0 #F6F6F6;
}
/* End Pagination (overwrites: pagination/pagenavi-css.css) */

/* Begin Cufon Fonts Fix:
   Fix for Cufon fonts loading problem with orig. font showing before cufon loaded */
.cufon-active #slogan { visibility: hidden !important; }
.cufon-ready #slogan { visibility: visible !important; }
.cufon-active h1 { visibility: hidden !important; }
.cufon-ready  h1 { visibility: visible !important; }
.cufon-active h2 { visibility: hidden !important; }
.cufon-ready  h2 { visibility: visible !important; }
.cufon-active h3 { visibility: hidden !important; }
.cufon-ready  h3 { visibility: visible !important; }
.cufon-active h4 { visibility: hidden !important; }
.cufon-ready  h4 { visibility: visible !important; }
.cufon-active h5 { visibility: hidden !important; }
.cufon-ready  h5 { visibility: visible !important; }
.cufon-active h6 { visibility: hidden !important; }
.cufon-ready  h6 { visibility: visible !important; }
.cufon-active #categoryLinks ul li { visibility: hidden !important; }
.cufon-ready  #categoryLinks ul li { visibility: visible !important; }
/* End Cufon Fonts Fix */

/* Begin Typography: List Styles */
ul.list-1, ul.list-2, ul.list-3, ul.list-4, ul.list-5, ul.list-6, ul.list-7, ul.list-8, ul.list-9, ul.list-10 {
    margin: 5px 0 5px -15px;
    position: relative; /* fix for IE6 (figures...) */
    overflow: hidden;
}
ul.list-1 li, ul.list-2 li, ul.list-3 li, ul.list-4 li, ul.list-5 li, ul.list-6 li, ul.list-7 li, ul.list-8 li, ul.list-9 li, ul.list-10 li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 25px !important;
}
ul.list-1 li {
    background: transparent url(../../common-images/tick-green.png) no-repeat scroll 0 3px;
}
ul.list-2 li {
    background: transparent url(../../common-images/tick-grey.png) no-repeat scroll 0 3px;
}
ul.list-3 li {
    background: transparent url(../../common-images/exclamation.png) no-repeat scroll 0 3px;
}
ul.list-4 li {
    background: transparent url(../../common-images/thumb-up.png) no-repeat scroll 0 3px;
}
ul.list-5 li {
    background: transparent url(../../common-images/lifeboy.png) no-repeat scroll 0 3px;
}
ul.list-6 li {
    background: transparent url(../../common-images/calendar-task.png) no-repeat scroll 0 3px;
}
ul.list-7 li {
    background: transparent url(../../common-images/pin.png) no-repeat scroll 0 3px;
}
ul.list-8 li {
    background: transparent url(../../common-images/clock.png) no-repeat scroll 0 3px;
}
ul.list-9 li {
    background: transparent url(../images/double-arrow.png) no-repeat scroll 6px 7px;
}
ul.list-10 li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 6px 5px;
}

ul#c2-slider li ul.list-1, ul#c2-slider li ul.list-2, ul#c2-slider li ul.list-3, ul#c2-slider li ul.list-4, ul#c2-slider li ul.list-5,
ul#c2-slider li ul.list-6, ul#c2-slider li ul.list-7, ul#c2-slider li ul.list-8, ul#c2-slider li ul.list-9, ul#c2-slider li ul.list-10 {
    margin: 5px 0 5px 0;
    position: relative; /* fix for IE6 (figures...) */
    overflow: hidden;
    font-size: 16px;
}
ul#c2-slider li ul.list-1 li, ul#c2-slider li ul.list-2 li, ul#c2-slider li ul.list-3 li, ul#c2-slider li ul.list-4 li, ul#c2-slider li ul.list-5 li,
ul#c2-slider li ul.list-6 li, ul#c2-slider li ul.list-7 li, ul#c2-slider li ul.list-8 li, ul#c2-slider li ul.list-9 li, ul#c2-slider li ul.list-10 li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 25px !important;
    width: 270px;
}
ul#c2-slider li ul.list-1 li {
    background: transparent url(../../common-images/tick-green.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-2 li {
    background: transparent url(../../common-images/tick-grey.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-3 li {
    background: transparent url(../../common-images/exclamation.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-4 li {
    background: transparent url(../../common-images/thumb-up.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-5 li {
    background: transparent url(../../common-images/lifeboy.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-6 li {
    background: transparent url(../../common-images/calendar-task.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-7 li {
    background: transparent url(../../common-images/pin.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-8 li {
    background: transparent url(../../common-images/clock.png) no-repeat scroll 0 7px;
}
ul#c2-slider li ul.list-9 li {
    background: transparent url(../images/double-arrow.png) no-repeat scroll 6px 12px;
}
ul#c2-slider li ul.list-10 li {
    background: transparent url(../images/arrow-2.png) no-repeat scroll 6px 10px;
}

.dropcap {
    color: #333333;
    display: block;
    float: left;
    font-size: 40px;
    line-height: 34px;
    margin: 5px 8px 0 0;
}
/* End Typography: List Styles */

/* Begin Buttons */
.align-btn-left {
    float: left;
    display: inline-block;
}
.align-btn-right {
    float: right;
    display: inline-block;
}
a.dark-button,
a.light-button {
    display: inline-block;
    border: 0 none;
    font-size: 1em;
    height: 42px;
    line-height: 42px;
    margin: 0;
    overflow: visible;
    padding: 0 0 0 8px !important;
    position: relative;
    text-shadow: none;
}
a.dark-button {
    background:transparent url(../../common-images/dark-button-l.png) no-repeat scroll left top;
    color: #ACACAC;
    font-weight: bold;
}
a.light-button {
    background:transparent url(../../common-images/light-button-l.png) no-repeat scroll left top;
    color: #666;
    font-weight: bold;
}
a.dark-button span,
a.light-button span {
    display: block;
    float: left;
    position: relative;
}
a.dark-button span {
    background: transparent url(../../common-images/dark-button-r.png) no-repeat scroll right top;
    color: #ACACAC;
    padding: 0 50px 0 10px;
}
a.light-button span {
    background: transparent url(../../common-images/light-button-r.png) no-repeat scroll right top;
    color: #666;
    padding: 0 50px 0 10px;
}
a.dark-button:hover,
a.light-button:hover {
    background-position: left bottom;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
a.dark-button:hover span{
    background-position: right bottom;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    height: 42px;
}
a.light-button:hover span {
    background-position: right bottom;
    color: #999;
    text-decoration: none;
    cursor: pointer;
    height: 42px;
}
a.dark-button:focus, a.dark-button:focus span,
a.light-button:focus, a.light-button:focus span {
    overflow: hidden;
    outline: none;
}

a.small-dark-button,
a.small-light-button {
    display: inline-block;
    border: 0 none;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    margin: 0;
    overflow: visible;
    padding: 0 0 0 8px !important;
    position: relative;
    text-shadow: none;
}
a.small-dark-button {
    background:transparent url(../../common-images/small-dark-button-l.png) no-repeat scroll left top;
    color: #ACACAC;
    font-weight: bold;
}
a.small-light-button {
    background:transparent url(../../common-images/small-light-button-l.png) no-repeat scroll left top;
    color: #666;
    font-weight: bold;
}
a.small-dark-button span,
a.small-light-button span {
    display: block;
    float: left;
    position: relative;
}
a.small-dark-button span {
    background: transparent url(../../common-images/small-dark-button-r.png) no-repeat scroll right top;
    color: #ACACAC;
    padding: 0 40px 0 10px;
}
a.small-light-button span {
    background: transparent url(../../common-images/small-light-button-r.png) no-repeat scroll right top;
    color: #666;
    padding: 0 40px 0 8px;
}
a.small-dark-button:hover,
a.small-light-button:hover {
    background-position: left bottom;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
a.small-dark-button:hover span{
    background-position: right bottom;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
}
a.small-light-button:hover span {
    background-position: right bottom;
    color: #999;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
}
a.small-dark-button:focus, a.small-dark-button:focus span,
a.small-light-button:focus, a.small-light-button:focus span {
    overflow: hidden;
    outline: none;
}
/* End Buttons */

/* Begin: Content Boxes */
#content-container {
    margin-top: 5px;
    display: table;
    text-shadow: 0 1px #FFF;
}
#main-content {
    text-shadow: 0 1px #FFF;
}
#main-content .main-content-padding {
    padding: 0 20px;
}
.column_1_of_4 {
    width: 240px;
    float: left;
}
.column_1_of_3 {
    width: 320px;
    float: left;
}
.column_1_of_2 {
    width: 480px;
    float: left;
}
.column_1_of_1 {
    width: 960px;
    float: left;
}
.column_2_of_3 {
    width: 640px;
    float: left;
}
.column_3_of_4 {
    width: 720px;
    float: left;
}
.home-cont-box {
    color: #666;
    text-shadow: 0 1px #FFF;
}
.home-cont-box .content-col .content-padding {
    padding-bottom: 25px;
}
.home-cont-box h3 {
    color: #666;
    padding: 5px 0 7px;
}
.home-cont-box h4 {
    color: #666;
    font-size: 1.4em;
    padding: 2px 0;
}
.home-cont-box small,
.home-cont-box small.read_more {
    color: #999999;
    font-style: italic;
}

.underline-1 {
    background: transparent url(../images/underline-1.png) repeat-x scroll 0 100%;
}
.hr-1 {
    background: transparent url(../images/underline-1.png) repeat-x scroll 0 100%;
    height: 2px;
    margin: 15px 0 0;
}
/* End: Content Boxes */

/* Begin: Bottom Area */
#bottom-bg {
    position: relative;
    display: table;
    width: 100%;
    background: #282828 url(../images/bottom-bg.png) repeat-x scroll 50% 0;
    margin-top: 20px;
    padding-bottom: 20px;
}
#bottom {
    background: transparent url(../images/bottom-highlight.png) no-repeat scroll 50% 0;
    font-size: 12px;
    padding: 14px 0;
    display: table;
}
#bottom .textwidget {
    color: #DDD;
}
#bottom a {
    color: #999;
}
#bottom a:hover {
    color: #DDD;
}
#bottom .widget_recent_entries li,
#bottom .widget_categories li,
#bottom .widget_pages li,
#bottom .widget_subpages li,
#bottom .widget_archive li,
#bottom .widget_links li,
#bottom .widget_rss li,
#bottom .widget_meta li,
#bottom .loginform li {
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    background: url("../images/double-arrow.png") no-repeat scroll 3px 8px transparent;
}
#bottom .widget_recent_comments li {
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    padding: 5px 0;
    background: url("../images/underline-btm.gif") repeat-x scroll 0 100% transparent;
}
#bottom .widget_recent_entries li li,
#bottom .widget_categories li li,
#bottom .widget_pages li li,
#bottom .widget_subpages li li,
#bottom .widget_archive li li,
#bottom .widget_links li li {
    background: url("../images/double-arrow.png") no-repeat scroll 13px 8px transparent;
}
#bottom .widget_recent_entries li li li,
#bottom .widget_categories li li li,
#bottom .widget_pages li li li,
#bottom .widget_subpages li li li,
#bottom .widget_archive li li li,
#bottom .widget_links li li li {
    background: url("../images/double-arrow.png") no-repeat scroll 23px 8px transparent;
}
#bottom .widget_recent_entries li li li li,
#bottom .widget_categories li li li li,
#bottom .widget_pages li li li li,
#bottom .widget_subpages li li li li,
#bottom .widget_archive li li li li,
#bottom .widget_links li li li li {
    background: url("../images/double-arrow.png") no-repeat scroll 33px 8px transparent;
}
#bottom .widget_recent_entries li a,
#bottom .widget_categories li a,
#bottom .widget_pages li a,
#bottom .widget_subpages li a,
#bottom .widget_archive li a,
#bottom .widget_links li a,
#bottom .widget_rss li a,
#bottom .widget_meta li a,
#bottom .loginform li a {
    padding: 2px 0 5px 20px;
    display: block;
    background: url("../images/underline-btm.gif") repeat-x scroll 0 100% transparent;
}
#bottom .widget_recent_entries li li a,
#bottom .widget_categories li li a,
#bottom .widget_pages li li a,
#bottom .widget_subpages li li a,
#bottom .widget_archive li li a,
#bottom .widget_links li li a {
    padding-left: 30px;
}
#bottom .widget_recent_entries li li li a,
#bottom .widget_categories li li li a,
#bottom .widget_pages li li li a,
#bottom .widget_subpages li li li a,
#bottom .widget_archive li li li a,
#bottom .widget_links li li li a {
    padding-left: 40px;
}
#bottom .widget_recent_entries li li li li a,
#bottom .widget_categories li li li li a,
#bottom .widget_pages li li li li a,
#bottom .widget_subpages li li li li a,
#bottom .widget_archive li li li li a,
#bottom .widget_links li li li li a {
    padding-left: 50px;
}
#bottom #searchform {
    margin-left: 20px;
    color:#555;
}
#bottom select.postform {
    margin-top: 6px;
}
#bottom .column_1_of_4 {
    width: 240px;
    float: left;
}
#bottom .column_1_of_3 {
    width: 320px;
    float: left;
}
#bottom .column_1_of_2 {
    width: 480px;
    float: left;
}
#bottom .column_1_of_1 {
    width: 960px;
    float: left;
}
#bottom .column_2_of_3 {
    width: 640px;
    float: left;
}
#bottom .column_3_of_4 {
    width: 720px;
    float: left;
}
.first .bottom-col-content {
    background-image: none;
}
.bottom-col-content {
    padding: 0 20px;
}
h3.bottom-col-title {
    background: transparent url(../images/underline-btm.gif) repeat-x scroll 0 100%;
    margin-bottom: 1px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #DDD;
}
#bottom .latest_posts h4 {
    font-size: 12px;
}
#bottom .latest_posts p {
    color:#DDDDDD;
}
#bottom .loginform {
    color:#DDDDDD;
}
/* End: Bottom Area */
.top-icons ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 2px 0 0  45px;
    margin: 0 auto;
}
.top-icons li.top-icons {
    display: inline;
    margin: 0;
}
.top-icons a {
    overflow: hidden;
    outline: none;
}
#bottom .social-icons {
    display: table;
}
#bottom .social-icons ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: right;
    padding: 5px 5px 0 0;
}
#bottom .social-icons li.social_icon {
    background: none repeat scroll 0 0 transparent !important;
    padding-left: 0 !important;
    display: inline;
    float: left;
    margin: 0;
}
#bottom .social-icons a {
    overflow: hidden;
    outline: none;
}
/* Begin Signup Button */
.signup-button {
    background:url(../../common-images/signup-button.png) no-repeat 0 -36px;
    display:block;
    width:144px;
    height:36px;
    margin:0 auto;
    padding: 0;
}
.signup-button a {
    background:url(../../common-images/signup-button.png) no-repeat 0 0;
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999px;
    border: 0 none;
    outline: 0 none;
}
.signup-button a:hover {
    background-position:0 36px;
}
/* End Signup Button */

/* Begin Flickr Images */
#flickr-images {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align:center;
}
#flickr-images ul {
	list-style: none;
	float: 	left;
	padding: 0px;
	margin: 0px;
}
#flickr-images ul li {
	display: inline;
	background: none;
	margin: 0;
}
#flickr-images ul li img {
	border: 2px solid #BBBBBB;
	margin: 2px;
	width: 	75px;
	height: 75px;
}
#flickr-images ul li img:hover {
	border: 2px solid #000;
}
#flickr-images ul li a {
	display: inline;
	border: none;
	padding: 0;
	margin: 0;
}
#flickr-images ul li a:hover {
	background: none;
}
/* End Flickr Images */


#content-container .cont_col_1 {
    padding: 0 10px 25px;
    border: none;
}
#content-container .cont_col_2 {
    padding: 0 10px 25px;
    border: none;
}
#content-container .cont_col_3 {
    padding: 0 10px 25px;
    border: none;
}
#content-container .cont_col_1_title,
#content-container .cont_col_2_title,
#content-container .cont_col_3_title {
    color: #535353;
    font-size: 2.0em;
    background:transparent url(../images/heading_underline.gif) repeat-x scroll 0 100%;
    margin: 17px 0 3px;
    padding:5px 0 7px;
}


/*
Stylesheet for the WP125 ad management plugin
URL: http://www.webmaster-source.com/wp125-ad-plugin-wordpress/
*/
/* Styles for one-column display */
#wp125adwrap_1c { width:100%; }
#wp125adwrap_1c .wp125ad { margin-bottom:10px; }

/* Styles for two-column display */
#wp125adwrap_2c { width:100%; }
#wp125adwrap_2c .wp125ad { width:125px; float:left; padding:5px; }



.home-page-divider {
    background:transparent url(../../common-images/home-page-divider.png) no-repeat scroll 50% 0;
    width: 820px;
    height: 20px;
    margin: 10px auto -5px;
}

/* Begin Breadcrumbs */
.breadcrumbs {
    margin: 20px 20px 0 20px;
}
.breadarrow {
    font-size: 1.2em;
}
.current_crumb {
    font-weight: bold;
}
.no-breadcrumbs-padding {
    padding: 6px 0;
}
/* End Breadcrumbs */

#recaptcha_widget_div div {
   margin-top: 0 !important;
   margin-bottom: 0 !important;
   text-shadow: none;
}

.featured-text {
    font-size: 14px;
    line-height: 25px;
}


/* Begin Demo Related CSS */
.jquery-img {
    background: url('../images/jquery.jpg') no-repeat scroll 50% 0 transparent;
    display: block;
    width: 288px;
    height: 98px;
    padding-bottom: 13px;
}
span.theme-color {
    color: #49708A;
    font-weight: bold;
}
/* End Demo Related CSS */

